<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParellelOne</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>19/05/04 21:42:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.login()[pri:0, instance:week5.day1.DuplicateLead@153f17c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@32179333</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/05/04 21:42:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.login()[pri:0, instance:week5.day1.DeleteLead@1341870]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@28220669</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/05/04 21:42:36</td>   <td>34942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.login()[pri:0, instance:week5.day1.EditLead@17d0008]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@32179333</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/05/04 21:42:39</td>   <td>38206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.login()[pri:0, instance:week5.day1.CreateLead@11053e1]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@28220669</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/05/04 21:42:52</td>   <td>51133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.runCreateLead()[pri:0, instance:week5.day1.CreateLead@11053e1]">runCreateLead</td> 
  <td>TestNG-test=Test-1@28220669</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/05/04 21:42:11</td>   <td>9658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.runDeleteLead()[pri:0, instance:week5.day1.DeleteLead@1341870]">runDeleteLead</td> 
  <td>TestNG-test=Test-1@28220669</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/05/04 21:42:10</td>   <td>9145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.runDuplicateLead()[pri:0, instance:week5.day1.DuplicateLead@153f17c]">runDuplicateLead</td> 
  <td>TestNG-test=Test-2@32179333</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/05/04 21:42:44</td>   <td>43238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.runEditLead()[pri:0, instance:week5.day1.EditLead@17d0008]">runEditLead</td> 
  <td>TestNG-test=Test-2@32179333</td>   <td></td> </tr>
</table>
