<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cc0ba">  <td>19/05/19 16:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.learnAnnotation(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGExamples.CreateLead@18067a5]">&gt;&gt;learnAnnotation</td> 
<td>&nbsp;</td>  <td>main@17250009</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/05/19 16:07:26</td>   <td>10394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLeadOne(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGExamples.CreateLead@18067a5]">createLeadOne</td> 
  <td>main@17250009</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/05/19 16:07:41</td>   <td>25340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.learnAnnotation(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGExamples.CreateLead@18067a5]">&gt;&gt;learnAnnotation</td> 
<td>&nbsp;</td>  <td>main@17250009</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/05/19 16:07:48</td>   <td>32478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLeadOne(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNGExamples.CreateLead@18067a5]">createLeadOne</td> 
  <td>main@17250009</td>   <td></td> </tr>
</table>
